/* line 3, ../../sass/master.scss */
body {
  overflow: hidden;
  background: #eee;
}

/* line 8, ../../sass/master.scss */
body:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 16, ../../sass/master.scss */
body.lesson-set {
  background: #fff;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0px 10px 0px 0px;
  overflow-y: scroll;
}

/* line 23, ../../sass/master.scss */
body.lesson-set > h1 {
  border-bottom: 1px solid #dfdfdf;
}

/* line 27, ../../sass/master.scss */
body.lesson-set article > h1 {
  border-bottom: 1px dotted #dfdfdf;
  border-left: 4px solid #ff0000;
  font-size: 18px;
  padding-left: 5px;
}

/* line 34, ../../sass/master.scss */
body.lesson-set nav {
  background-color: #e8e8e8;
  border: 1px dotted #ccc;
  margin-bottom: 30px;
  padding: 3px 5px;
  width: 245px;
}

/* line 42, ../../sass/master.scss */
body.lesson-set nav a {
  margin-right: 7px;
}

/* line 46, ../../sass/master.scss */
body.lesson-set nav a:last-child {
  margin-right: 0px;
}

/* line 50, ../../sass/master.scss */
body.lesson-set nav a:hover {
  color: #000;
  text-decoration: underline;
}

/* line 56, ../../sass/master.scss */
body.lesson-set section code {
  background-color: #000;
  color: #fff;
  font-family: consolas, monospace;
  padding: 0px 5px;
}

/* line 63, ../../sass/master.scss */
body.lesson-set section h1 {
  color: #555;
  font-size: 13px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

/* line 70, ../../sass/master.scss */
#buttons {
  position: relative;
  float: right;
  top: 93%;
  width: 100%;
}

/* line 76, ../../sass/master.scss */
#buttons button {
  background-color: red;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3333), color-stop(100%, #ff0000));
  background: -webkit-linear-gradient(#ff3333, #ff0000);
  background: -moz-linear-gradient(#ff3333, #ff0000);
  background: -o-linear-gradient(#ff3333, #ff0000);
  background: -ms-linear-gradient(#ff3333, #ff0000);
  background: linear-gradient(#ff3333, #ff0000);
  border: white;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 30px;
  float: right;
  margin-right: 5px;
}

/* line 90, ../../sass/master.scss */
#input {
  float: left;
  position: relative;
  width: 50%;
}

/* line 96, ../../sass/master.scss */
iframe {
  border: none;
  height: 100%;
  width: 100%;
}

/* line 102, ../../sass/master.scss */
iframe h1 {
  font-size: 14px;
}

/* line 106, ../../sass/master.scss */
#output {
  overflow-y: scroll;
}

/* line 114, ../../sass/master.scss */
#stdin {
  padding: 0;
  margin: 0;
}

/* line 118, ../../sass/master.scss */
#stderr {
  color: #990000;
}

/* line 121, ../../sass/master.scss */
.cursor {
  display: inline-block;
}

/* line 125, ../../sass/master.scss */
#tabs {
  position: absolute;
  height: 92%;
  right: 0px;
  width: 50%;
}

/* line 131, ../../sass/master.scss */
.ui-tabs-panel {
  height: 85%;
  position: relative;
}

/* line 139, ../../sass/master.scss */
#container {
  width: 49%;
  float: left;
}

/* line 144, ../../sass/master.scss */
#rubycode {
  width: 49%;
  height: 94%;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  clear: both;
  float: left;
  font-family: monospace;
  font-size: 18px;
}
