/* line 3, ../../sass/master.scss */
body {
  overflow: hidden;
  background: transparent;
}

/* line 8, ../../sass/master.scss */
body:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 16, ../../sass/master.scss */
body.lesson-set {
  background: transparent;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0px 10px 0px 0px;
  overflow: auto;
}
/* line 21, ../../sass/master.scss */
body.lesson-set.intro {
  background: url("background.png") no-repeat top center;
  background-size: cover;
  margin-top: 215px;
}
/* line 25, ../../sass/master.scss */
body.lesson-set.intro li {
  list-style-image: url("listicon.png");
  margin-bottom: 20px;
  margin-left: 50px;
}
/* line 30, ../../sass/master.scss */
body.lesson-set.intro li a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

/* line 40, ../../sass/master.scss */
body.lesson-set > h1 {
  border-bottom: 1px solid #dfdfdf;
}

/* line 44, ../../sass/master.scss */
body.lesson-set article > h1 {
  border-bottom: 1px dotted #dfdfdf;
  border-left: 4px solid #ff0000;
  font-size: 18px;
  padding-left: 5px;
}

/* line 51, ../../sass/master.scss */
body.lesson-set nav {
  background-color: #e8e8e8;
  border: 1px dotted #ccc;
  margin-bottom: 30px;
  padding: 3px 5px;
  width: 290px;
}

/* line 59, ../../sass/master.scss */
body.lesson-set nav a {
  margin-right: 7px;
}

/* line 63, ../../sass/master.scss */
body.lesson-set nav a:last-child {
  margin-right: 0px;
}

/* line 67, ../../sass/master.scss */
body.lesson-set nav a:hover {
  color: #000;
  text-decoration: underline;
}

/* line 73, ../../sass/master.scss */
body.lesson-set section code {
  background-color: #000;
  color: #fff;
  font-family: consolas, monospace;
  padding: 0px 5px;
}

/* line 80, ../../sass/master.scss */
body.lesson-set section h1 {
  color: #555;
  font-size: 13px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

/* line 87, ../../sass/master.scss */
#buttons {
  position: absolute;
  float: right;
  bottom: 2px;
  width: 49%;
}

/* line 93, ../../sass/master.scss */
#buttons button {
  background-color: red;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3333), color-stop(100%, #ff0000));
  background: -webkit-linear-gradient(#ff3333, #ff0000);
  background: -moz-linear-gradient(#ff3333, #ff0000);
  background: -o-linear-gradient(#ff3333, #ff0000);
  background: -ms-linear-gradient(#ff3333, #ff0000);
  background: linear-gradient(#ff3333, #ff0000);
  border: white;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 30px;
  float: right;
  margin-right: 5px;
}

/* line 107, ../../sass/master.scss */
#input {
  float: left;
  position: relative;
  width: 50%;
}

/* line 113, ../../sass/master.scss */
iframe {
  border: none;
  height: 100%;
  width: 100%;
}

/* line 119, ../../sass/master.scss */
iframe h1 {
  font-size: 14px;
}

/* line 123, ../../sass/master.scss */
#output {
  overflow-y: scroll;
  font-family: monospace;
  font-size: 18px;
}

/* line 129, ../../sass/master.scss */
#stdout {
  white-space: pre-wrap;
}

/* line 133, ../../sass/master.scss */
#stdin {
  padding: 0;
  margin: 0;
  white-space: normal;
}

/* line 138, ../../sass/master.scss */
#stderr {
  white-space: pre-wrap;
  color: #990000;
}

/* line 142, ../../sass/master.scss */
.cursor {
  display: inline-block;
}

/* line 150, ../../sass/master.scss */
#tabs {
  position: absolute;
  height: 92%;
  right: 0px;
  width: 50%;
}

/* line 156, ../../sass/master.scss */
.ui-tabs-panel {
  height: 85%;
  position: relative;
}

/* line 161, ../../sass/master.scss */
#turtle {
  height: 90%;
  width: 90%;
}

/* line 169, ../../sass/master.scss */
#container {
  width: 49%;
  float: left;
}

/* line 174, ../../sass/master.scss */
#rubycode {
  width: 49%;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 48px;
  left: 0;
  right: 0;
  clear: both;
  float: left;
  font-family: monospace;
  font-size: 18px;
}
